body {
  font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #38B;
}
a:hover{
    color: rgb(31, 82, 115)!important;
}

.custom-navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.custom-navbar.scrolled {
  background-color: white !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-navbar .nav-link {
  color: white !important;
}

.custom-navbar.scrolled .nav-link {
  color: black !important;
}
.container-fluid2{
    background-image: url(/images/the-town-bg-01.jpg);
    height:800px; 
}
.container-fluid1{
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar-brand{
    font-size: 30px;
}
.navbar-collapse{
    flex-grow:0;
}
.nav-item{
    width: 200px;
    font-size: 20px;
}
.navbar-brand:hover{
    color: rgb(12, 112, 174);
}
.nav-link.active:hover{
    color: rgb(10, 98, 152)!important;
}
.container-sm{
    text-align: center;
    color: white;
}
.tm-down-arrow{
    color: #c57e7d;
    cursor: pointer;
    background-color: white;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    border-radius: 50%;
    padding: 33px 22px 8px;
    transition: all 0.3s ease;
}
.fas{
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-3x{
    font-size: 3em;
}
.container-breakpoints{
    padding-top: 50px;
    padding-bottom: 50px;
}
.col-sm{
    margin-top: 30px;
    text-align: left;
    color: rgb(77, 74, 74);
}
.img-fluid{
    margin-top: 50px;
}
.btn-outline-success{
    --bs-btn-color: white;
    background-color: #38B;
    --bs-btn-hover-bg:rgb(31, 93, 131);
}
.btn{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
}

.card-img-top{
    width: 30%;
    margin-left: 150px;
}
.card{
    border: none;
    width: 21em;
}
.carousel-item .col-md-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-item img {
  width: 100%;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin-bottom: 15px;
}

.carousel-item img:hover {
  transform: scale(1.05);
}


 