::selection{
    color: orangered;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}
.width{
    width: 100%;
}
.infinite{
    background-image: url(/images/infinite-loop.jpg);
    height: 750px;
    margin-top: -60px;
}
.sticky{
    position: sticky;
    top: 0;
    height: 80px;
    background-color: rgb(57, 56, 56);
    z-index: 2;
}
.center{
    color: white;
    text-align: center;
}
.rel{
    position: relative;
}
.left{
    display: inline-block;
    width: 20%;
    height: 75%;
    margin: 5px;
}
.right{
    display: inline-block;
    width: 14%;
    margin-top: 10px;
    font-size: 19px;  
}
.left:hover{
    color: #38B;
}
.right:hover{
    background-color: #38B;
}
a{
    text-decoration: none;
    color: #38B;
}
a:hover{
    color: orangered;
}
.relative{
    width: 50%;
    height: 250px;
    left: 350px;
    top: 100px;
}
.absolute{
    position:absolute;
    width: 40%;
    left: 430px;
    top: 320px;
    font-size: 24px;
}
.wwd{
    height: 800px;
}
.center1{
    width: 90%;
    height: 200px;
    margin-top: 20px;
    margin-left: 50px;
}
.secs{
    width: 47%;
    height: 300px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.img{
    width: 10%;
    height: 60px;
    margin-top: 10px;
}
.content{
    float: right;
    width: 83%;
    height: 280px;
}
.a{
    width: 40%;
    height: 65px;
    margin-top:40px;
    background-color: #38B;
    font-size: 25px;
}
.a:hover{
    background-color: rgb(4, 111, 177);
}
.testimonials{
    background-image: url(/images/testimonials.jpg);
    height: 1000px;
}
.testi{
    width: 80%;
    height: 300px;
    left: 130px;
    top: 100px;
}
.con{
     width: 75%;
     left: 120px;
     bottom: 20px;
}
.testi1{
    position: absolute;
    width: 95%;
    height: 600px;
    top: 390px;
    left: 30px;
}
.parts{
    width: 30%;
    height: 470px;
    margin-top: 50px;
    margin-left: 23px;
    display: inline-block;
    font-size: 20px;
}
@media screen and (max-width:1100px) {
    .left{
        margin-left: 0;
    }
    .right{
       margin-top: 0;
    }
    .relative{
        left: 250px;
        text-align: center;
    }
    .absolute{
         left: 300px;
        text-align: center;
    }
    .a{
        width: 30%;
        font-size: 15px;
        height: 50px;
    }
}

@media screen and (max-width:968px){
    .right{
        width: 8%;
        margin-left: 50px;
    }
    .relative{
        text-align: center;
        left:200px;
    }
    .absolute{
        text-align: center;
        left:250px;
    }

}

@media screen and (max-width:768px){
    .right{
        display: none;
        
    }
    .relative{
        text-align: center;
        left: 80px;
        width: 80%;
        font-size: 50px;
    }
    .absolute{
        text-align: center;
        left: 110px;
        font-size: 20px;
        width: 70%;
    }
    .secs{
        float: none;
        width: 80%;
        text-align: center;
        margin-top: 10px;
    }
    .img{
       margin-left: 130px;
       
    }
    .content{
        float: none;
        margin-left: 100px;
    }
    .a{
        height: 40px;
        margin-top:0px;
        font-size: 15px;
        text-align: none;
        padding-bottom: 10px !important;
    }
    .testimonials{
        margin-top: 680px;
       height: 1300px;
    }
    .parts{
        display: block;
        width: 85%;
        height: 200px;
        margin-left: 70px;
        margin-top: 0px;
        margin-bottom: 90px;
    }

}
@media screen and (max-width:640px) {
    .secs{
        float: none;
        margin-left: 40px;
        width: 80%;
        margin-top: 30px;
    }
    .img{
       margin-left: 120px;
       margin-top: 50px;
    }
    .testimonials{
      margin-top: 680px;
       height: 1350px;
    }
    .testi{
        left: 70px;
    }
    .con{
        left: 65px;
    }
    .parts{
        display: block;
        width: 85%;
        height: 200px;
        margin-left: 70px;
        margin-top: 0px;
        margin-bottom: 120px;
    }
   
}
    