p::first-line{
    color:crimson;
    font-variant: small-caps;
    background-color: cadetblue;
    text-decoration: wavy;
    word-spacing: 9px;
}

h4::first-letter{
    color:cadetblue;
    background-color: crimson;   
}

p::first-letter{
    color:chartreuse;
}

h1::before{
    content: url(/images/logo.png);
}

span::after{
    content: url(/images/logo.png);
}

::marker{
    color: cadetblue;
    font: 15px;
}

::selection{
    color: red;
    background-color: yellow;
}