a:link{
    color:red;
}

a:visited{
    color:blue;
}

a:hover{
    color:hotpink;
}

a:active{
    color:green;
}

.highlight:hover{
    color: #ff0000;
    font-size: 22px;
}

div{
    background-color: cadetblue;
    padding: 25px;
    text-align: center;
    color: whitesmoke;
}

div:hover{
    background-color: blue;
}



