body {
  font-family: "Roboto", sans-serif;
}

.icons{
    width: 100%;
    height:50px;
    
}

.rows{
    width: 30%;
    height: 30px;
    float: left;
    margin-top: 8px;
    margin-left: 4px;
}

.eml{
    width: 12%;
    height: 20px;
    margin-top: 3px;
    margin-left: 13px;
}

.sun{
    width: 10%;
    margin-top: -5px;
    margin-left: 10px;
}

.social{
    width: 35%;
    margin-top: -3px;
    margin-right: 10px;
    float: right;
}

.info{
    width:82%;
    height: 25px;
    float: right;
    color: gray;
}

.mail{
    width: 40%;
    height: 38px;
    float: left;
    margin:2px 0 2px 25px ;
}


.beach{
    width: 47%;
    height: 28px;
    float:right;
    margin:1px 1px 1px 1px;
}

.row{
    width:15%;
    height:55px;
    margin:2px;
    float:left;
}

.sched{
    width:28%;
    height:40px; 
    margin-top:10px;
    margin-left:5px;
    float:left;
    border-radius: 25px;
    background-color: black;
   
}

.schd{
    width:20%;
    height:50px;
}

.right{
    width:75%;
    height:55px;
    margin:2px;
    float:right;
}

.villa{
    width: 100%;
    height:750px;
    background-image:url(/images/banner-01.jpg);
}

.left{
    width:50%;
    height:550px;
    float:left;
    margin: 150px;
}

.box{
    background-color: azure;
    color: black;
    padding: 5px;
    margin:75px;
    width: 25%;
}

.bestapp{
    width: 80%;
    height: 450px;
    margin: 100px auto;
   
}

.col{
    width:19%;
    height:420px;
    margin-right:5px;
    float:left;
}

.box2{

    background-color: azure;
    color: black;
    width: 100%;
    height: 265px;
}

.row1{
    width:95%;
    height:95px;
    margin:2px;
    float:left;
    border-width: 1px ; 
    border-color: gainsboro;
}

.image{
    width: 90%;
    margin-right: 4px;
    margin-top: 10px;
}

.closeview{
    background-image: url(/images/video-bg.jpg);
    width: 100%;
    height:550px;
}

.center{
    width: 80%;
    height:250px;
   
}

.video{
    background-image: url(/images/video-frame.jpg);
    width: 80%;
    height:470px;
    border-radius: 50px;
    margin-left: 145px;
}

.box1 {
    width: 12%;
    height: 40%;
    border-radius: 15px;
    float:left;
    margin: 50px;
    border-width: 1px;
    margin-left: 125px;
    margin-right: 122px;
}

.imgs{
    width: 10%;
    float:right;
}

.bestdeal{
    width:100%;
    height:550px;
    background-color: gainsboro;
}

.sec{
    width: 90%;
    height: 150px;
    margin: 10px auto;
}

.left{
    width: 40%;
    height: 120px;
    margin: 25px auto;
    float: left;
}

.right{
    width:55%;
    height: 120px;
    margin: 25px auto;
    float: right;
}

.app{
    width: 30%; 
    background-color:rgb(255, 127, 80);
    height:55px;
    margin:2px;
    float:left;
    margin-top: 59px;
    color: white;
    text-align: center;
    border-radius: 20px;
}

.row2{
    width:95%;
    height:50px;
    margin:2px;
    border-bottom: 1px solid gray;
}

.row3{
    width:25%;
    height:40px;
    margin:2px;
    float: right;
}

.row4{
    width:65%;
    height:40px;
    float: left;
}

.property{
    width: 100%;
    height: 600px;
}

.bestprop{
    width: 50%;
    height: 160px;
    margin-left: 250px;
}

.col2{
    width: 31%;
    height: 70%;
    float:left;
    margin: 5px;
}

.proppic{
    width: 90%;
    height:200px;
    margin-left: 15px;
    margin-top: 5px;
   border-radius: 10px;
}

.row5{
    width: 98%;
    height:30px;
    margin-bottom: 2px;
}

.left1{
    width: 35%;
    height:35px;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.right1{
    width: 40%;
    height:20px;
    border-radius: 10px;
    float:right;
    font-size: 14px;
}

.visit1{
    width: 50%;
    height:35px;
    background-color: black;
    margin-left: 70px;
    margin-top: 15px;
    border-radius: 15px;
    color:white;
    font-size: small;
}

.contact1{
    width: 100%;
    height: 700px;
   
}

.cont{
    width:100%;
    height: 400px;
}

.map2{
    width: 100%;
    height: 550px;
    margin-top: 50px;
   
}

.col3{
    width: 50%;
    height: 90%;
    float:left;
    margin: 45px;
    margin-top:5px;
}

.map3{
    width: 95% ;
    height: 75%;
    border-radius: 15px;
}

.row6{
    width: 35%;
    height:60px;
    float: left;
    background-color:beige;
    border-radius: 15px;
    margin-top:40px ;
}

.phone{
    width: 28%;
    height:45px;
    float: left;
    margin-top: 10px;
   margin-left: 10px;
}

.content{
    width: 60%;
    height:45px;
    float: left;
    margin-top: 4px;
    margin-left: 2px;
}

.review1{
    width:98%;
    height:35px;
    float: left;
    margin-left: 8px;
    font-size: 13px;
}

.review2{
    width:98%;
    height:30px;
    float: left;
    margin-bottom: 15px;
    background-color: gainsboro;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 10px;
    color: darkslategrey;
}